ul.hc-checktree *{
	list-style: none;
	margin: 0;
	padding: 0;
}
ul.hc-checktree{
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.hc-checktree > li{
	width: 100%;
/*	min-height: 30px;
	line-height: 30px;*/
}
ul.hc-checktree > li > ul{
	margin-left: 20px;
}

/*#############按钮与选择框#############*/
ul.hc-checktree div.hc-checkbox,
ul.hc-checktree div.hc-arrow,
ul.hc-checktree img.hc-icon,
ul.hc-checktree img.hc-ricon{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 4px;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select:none;/*火狐*/
	-webkit-user-select:none;/*webkit浏览器*/
	-ms-user-select:none;/*IE10*/
	-khtml-user-select:none;/*早期浏览器*/
	user-select:none;
}
ul.hc-checktree img.hc-icon,
ul.hc-checktree img.hc-ricon{
	height: auto;
}
ul.hc-checktree img.hc-ricon{
	margin-right: 0;
	margin-left: 4px;
}
ul.hc-checktree div.hc-collapsed,
ul.hc-checktree div.hc-expanded,
ul.hc-checktree div.hc-checkbox,
ul.hc-checktree div.hc-checked,
ul.hc-checktree div.hc-checked-half{
	/*background:url('../imgs/checktree_icon.png');*/
	background:url('../imgs/hctree-icon2.png') no-repeat;
}

/*------按钮-------*/
ul.hc-checktree div.hc-arrow{
	cursor: auto;
}
/*按钮：折叠*/
ul.hc-checktree div.hc-collapsed{	
	background-position: 1px -2px;
	cursor: pointer;
}
/*按钮：展开*/
ul.hc-checktree div.hc-expanded{
	background-position: 1px -21px;
	cursor: pointer;
}
/*-------选择框---------*/
ul.hc-checktree div.hc-checkbox{
	background-position: 0 -39px;
}
/*选择框：选中*/
ul.hc-checktree div.hc-checked{
	background-position: 0px -58px;
}
/*选择框：半选中*/
ul.hc-checktree div.hc-checked-half{
	background-position: 0px -77px;
}
/*------名称-------*/
ul.hc-checktree label.hc-label{
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
/*#############显示与隐藏#############*/
ul.hc-checktree ul.hc-hide{
	display: none;
}
ul.hc-checktree .hc-hide{
	display: none!important;
}
ul.hc-checktree ul.hc-show{
	display: block;
}